<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id="app">
        <input type="text" v-model="a">
        <h3>总金额:{{total}}</h3>
        <ul>
            <li v-for="(item,i) of cart">
                {{item.pid}} | {{item.pname}} | ${{item.price.toFixed(2)}} ————小计:{{}}
            </li>
        </ul>
        <h3>总金额是:{{total}}</h3>
    </div>

    <script>

        var vm = new Vue({
            el: "#app",
            data: {
                cart: [
                    { pid: 1, pname: "华为", price: 4455, count: 2 },
                    { pid: 2, pname: "小米", price: 3455, count: 1 },
                    { pid: 3, pname: "OPPO", price: 3356, count: 3 },
                ],
            },
            //方法
            methods: {},
            computered: {
                total() {
                    var sum = 0;
                    for (var dd of this.cart) {
                        sum += dd.count * dd.price;
                    }
                    return sum;
                }

            }
        });
    </script>
</body>

</html>